.header__logo {
    width: 142px;
    height: 33px;
    margin-bottom: 41px;
}

@media screen and (max-width: 920px) {
    .header__logo {
        padding-left: 27px;
        width: 104px;
        height: 24px;
    }
}

@media screen and (max-width: 750px) {
    .header__logo {
        margin-bottom: 30px;
    }
}