.edit-avatar-form__submit-button_disabled {
    width: 358px;
    height: 50px;
    margin-left: 36px;
    margin-top: 186px;
    position: absolute;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 2px;
    opacity: 20%;
}

.edit-avatar-form__submit-button_disabled:hover {
    cursor: default;
    opacity: 20%;
}

@media screen and (max-width: 597px) {
    .edit-avatar-form__submit-button_disabled {
        margin-top: 186px;
        margin-left: 22px;
        margin-bottom: 25px;
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}