.edit-avatar-form__span {
    margin: 0;
    padding: 0;
    margin-left: 36px;
    width: 358px;
    margin-top: 147px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    color: red;
    visibility: visible;
    position: absolute;
}

@media screen and (max-width: 597px) {
    .edit-avatar-form__span {
        margin-left: 22px;
        width: 238px;
    }
}


@media screen and (max-width: 597px) {
    .edit-avatar-form__span {
        margin-top: 147px;
    }
}