.edit-form__title {
    margin: 0;
    margin-left: 36px;
    margin-top: 34px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}

@media screen and (max-width: 597px) {
    .edit-form__title {
        margin-left: 22px;
        padding-top: 25px;
        font-size: 18px;
        line-height: 22px;
    }
}