.profile__edit-button {
    height: 24px;
    width: 24px;
    margin-left: 22px;
    margin-top: 25px;
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: black;
    color: white;
    align-self: center;
}

.profile__edit-button:hover {
    opacity: 60%;
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        margin-left: 15px;
    }
}