.element__like {
    padding: 0;
    margin: auto;
    display: block;
    border: none;
    background-color: white;
    width: 22px;
    height: 19px;
    background-image: url(./../../../images/like.png);
}

.element__like:hover {
    opacity: 50%;
    cursor: pointer;
}